/* Write your CSS here! */
html {
    box-sizing: border-box;
    margin: 8px;
    padding: 1px;
}

html, body { 
	font-family: Verdana, sans-serif;
    font-size: 15px;
	line-height: 1.5;
	color: #000000; 
	background-color: transparent;
	margin: 8px; 
	padding: 1%;
	}

header, main, footer {
    display: block;
    background-color: lightgoldenrodyellow;
    font-size: 100%;
}

h1 {
    font-size: 36px
}

h2 {font-size: 30px}

h3 {font-size: 24px}

#mainHeading {
    font-weight: bold
}